/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
*/


/*ul {
  list-style-type: none;
  padding-left: 0;
}

.label {
  font-weight: bold;
  margin-top: 6px;
}*/

/*************************BODY/ STICKY FOOTER*********************/

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom: 3em; /* this needs to be bigger than footer height*/
  padding-top: 6em;
  background-image:url('body-background.png');
}



/*************************GLOBAL NAVBAR****************************/

.navbar {
  background-image:url('header.png');
  min-height: 4.6em;
}

.navbar-header {
  color: #fff;
}

.navbar-header img {
  width: 15em;
  padding-top: .83em;
  padding-left: .6em;
}

.navbar-inverse .navbar-nav li a {
  color: #fff;
  margin-top: .6em;
}

button.navbar-toggle {
  padding-top: 1em;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: rgba(51, 51, 51, 0);
}

.navbar-inverse .navbar-toggle {
  border: none;
}


/*************************ADMIN SIGNIN BODY****************************/




/*************************MEMBER FORM BODY****************************/

.center-div {
  float: none;
  margin: 0 auto;
  max-width: 409px;
  margin-bottom: 3em;
  color: #636363;
}

.center-div h2 {
  margin-top: .3em;
  font-size: 1.7em;
}

form {
  margin-top: 1.3em;
}

.member-form input[type="radio"] {
  margin-right: .6em;
}

.member-no-response {
  display: none;
  margin-top: 1em;
}

.member-yes-response {
  display: none;
  margin-top: 1em;
}

.selected {
  background-color: red;
}

.dependent-form {
  margin-top: 1em;
}

.dependent-form input[type="radio"] {
  margin-right: .6em;
}

.dependent-yes-response {
  display: none;
  margin-top: 1em;
}

.dependent-no-response {
  display: none;
  margin-top: 1em;
}

#form-button {
  margin-top: 2em;
  margin-bottom: 1em;
}


/*************************PARTICIPANTS***************************/



.participating-label {
  margin-top: 3em;
  margin-bottom: .5em;
  font-size: 90%;
  font-weight: bold;
  line-height: 1;
  vertical-align: baseline;
}

#participating-ul li {
  list-style-type: none;
}

#participating-ul {
  padding-left: 0;
}


/*************************RESULTS PAGE***************************/

.results-title {
  margin-bottom: 1em;
}

.results-container {
  margin-top: em;
  background-color: #ebebeb;
  position: relative;
    -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}

#results-ul li:not(:last-child) {
  display: inline;
}

#results-ul {
  position: relative;
  padding-left: 1.3em;
  padding-right: 1em;
}

#results-ul .name {
  margin-left: .7em;
  padding-top: 2em;
  font-size: .9em;
  position: absolute;
}

.plus-button {
  position: relative;
  margin-left: 5em;
  text-decoration: none;
  height: .5em;
}

.plus-button a {
  margin-top: 3em;
  font-size: 3em;
  color: #fff;
  height: .6em;
  text-decoration: none;
}

.plus-button a:hover {
  margin-top: 3em;
  font-size: 3em;
  color: #fff;
  height: .6em;
  text-decoration: none;
}

.results-mug img {
  border-radius: 100%;
  border-color: red;
  margin-bottom: .9em;
  margin-left: 7em;
  height: 2em;
  width: 2em;
}

.results-santa-mug img {
  border-radius: 100%;
  margin-bottom: .9em;
  height: 2em;
  width: 2em;
}

.results-hat {
  margin-left: -3.16em;
}

.results-hat img {
  width: 2.6em;
  margin-bottom: 2em;
}

#results-ul .secret-santa-name {
  margin-left: .7em;
  padding-top: 2em;
  font-size: .9em;
  height: 1em;
  position: absolute;
}

#results-ul li:last-child {
  display: none;
  list-style-type: none;
  padding-bottom: 1em;
}

/*.interests {
  font-size: .9em;
}*/


/*#results-ul li span {
  font-size: .9em;
  margin-left: .6em;
  padding-bottom: .2em;
  text-decoration: none;
  color: #003663;
}*/



/*************************PARTICIPANTS INDEX***************************/


.whos-in {
  margin-bottom: 1em;
}

.participant-container {
  margin-top: .6em;
  background-color: #ebebeb;
  padding-left: 3em;
  height: 3.4em;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}

.participant-container ul li.name {
  padding-top: 1.2em;
  padding-left: 1em;
  position: absolute;
}

#participating-ul {
  display: inline;
}

#declined-ul {
  list-style-type: none;
  padding-left: 0;
}

#no-response-ul {
  list-style-type: none;
  padding-left: 0;
}

#participating-ul li {
  display: inline;
}

#participating-ul .name {
  display: inline;
  margin-left: .7em;
  font-size: .9em;
}

.mug img {
  border-radius: 100%;
  margin-top: .9em;
  height: 2em;
  width: 2em;
  position: relative;
}

.hat {
  position: relative;
  margin-left: -3.1em;
}

.hat img {
  width: 2.3em;
}


/*************************MEMBER INDEX***************************/

#members {
  margin-top: 2em;
}

#member-ul li {
  list-style-type: none;
  margin-bottom: .3em;
}

li.label {
  display: inline;
  font-size: 90%;
  font-weight: bold;
  line-height: 1;
  vertical-align: baseline;
}

/*************************LANDING PAGE****************************/

.landing-center-div {
  float: none;
  margin: 0 auto;
  max-width: 720px;
  margin-bottom: 3em;
  color: #636363;
}

.jumbotron {
  max-width: 720px;
  color: #636363;
}

#landing-body {
  max-width: 720px;
  margin-bottom: 2em;
  color: #636363;
}

#landing-body h1 {
  text-align: center;
  margin-top: 1.3em;
  margin-bottom: 3em;
}

#landing-body p {
  font-weight: bold;
  width: 90%;
}

#landing-body img {
  width: 90%;
  margin-top: .5em;
  margin-bottom: 2em;
}

.col-md-6 {
  background-color: red;
}

.jumbo-text {
  max-width: 27em;
  margin-top: .9em;
}

.btn-jumbo {
  margin-top: 1em;
  background-color: #003663;
  border-color: #003663;
}

.btn-jumbo:hover {
  margin-top: 1em;
  background-color: #003663;
  border-color: #003663;
}

#admin-sign-in {
  clear: both;
  background-color: #eeeeee;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 9em;
  margin-bottom: 0;
  color: #636363;
    -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}

#session_email {
  margin-right: 2em;
}


/*************************GLOBAL FOOTER****************************/

.footer {
  position: relative;
  background-image:url('header.png');
  margin-top: -3em; /* negative value of footer height */
  height: 3em;
  clear: both;
  padding-top: .8em;
}

.footer p {
  margin-left: auto;
  margin-right: auto;
  width: 12em;
  color: #fff;
}



@media screen and (min-width: 500px) {

.plus-button {
  position: relative;
  margin-left: 11em;
  text-decoration: none;
  height: .5em;
}

#results-ul {
  position: relative;
  padding-left: 2.3em;
}

.results-mug img {
  border-radius: 100%;
  border-color: red;
  margin-bottom: .9em;
  margin-left: 8em;
  height: 2em;
  width: 2em;
}

}

