<div id="static" class="modal fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-hidden="true">
  <div class="modal-body">
    <p>Would you like to continue with some arbitrary task?</p>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Cancel</button>
    <button type="button" data-dismiss="modal" class="btn btn-primary">Continue Task</button>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">About This App</h4>
      </div>
      <div class="modal-body">
        <p>Cousin Gift Exchange was created to solve the problem of not everyone in the family being able to attend Thanksgiving and therefore not being able to participate in our traditional drawing of names for the cousin gift exchange.<br>
        <br>
        Also, with everyone getting hitched and having kids and whatnot, the whole thing is getting super complicated. As luck would have it, one of us is learning how to program and needs practice solving little problems like this with code.<br>
        <br>
        More on that <a href="http://gngrdev.tumblr.com/post//cousin-gift-exchange-app-codez-to-helpz-teh-cousinz" target="_blank">here,</a> if you're interested.<br>
        <br>
        Results of the "drawing" will be up in a few days. These will be displayed on the Drawing Results page.<br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
